// Color Palette
$l-blue: #d5f2f8;
$blue: #09a5c7;
$gray: #363636;
$white: #fff;
$black: #000;
$ftr: #125260;

// Media queries
$phone: (max-width: 768px);
$tablet: (max-width: 1020px);
$desktop: (max-width: 1600px);
$large: (min-width: 1920px);